
@font-face {
    font-family: Maximus;
    src: url(../Assets/Doctor\ Glitch.otf);
}

@font-face {
    font-family: max;
    src: url(../Assets/zt_gatha/ZTGatha-SemiBold.otf);
}

*{
    margin: 0;
    padding: 0;
    display: block;
    scroll-behavior: smooth;
}


body {
    position: relative;
    width: 100%;
    background-image: url(../Assets/body3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 8, 24, 0.759);
}

header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-image: url(../Assets/head.png);
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid #1d415f;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    width: 100vw;
}

.Active {
    text-decoration: underline;
}

.left, .right {
    width: calc(50% - 151px);
    height: 30px;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 1.3em;
    background: #01223d;
    background-image: linear-gradient(#008cff, #002442 8%,#002442 84%,  black 92%);
}

.left h4, .right h4 {
    cursor: pointer;
    color: #dfdede;
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
    font-weight: 500;
}

.menu {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 60px;
    height: 6px;
    margin: 6px;
    background: #fff;
    border-radius: 1000px;
    content: "";
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out, width 0.4s ease-in-out;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    margin: 8px;
    top: 8px;
    right: 8px;
    position: fixed;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, margin-right 0.4s ease-in-out, width 0.4s ease-in-out ;
}

.menu.active .bar:nth-child(1) {
    transform-origin: left;
    transform: rotate(45deg);
    width: calc(48px * 1.41421356237 - 17px);
    background-color: #fff;
}

.menu.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
}

.menu.active .bar:nth-child(3) {
    transform-origin: left;
    transform: rotate(-45deg);
    width: calc(48px * 1.41421356237 - 17px);
    background-color: #fff;
}

.menu:not(.active) {
    margin-right: 8px; 
    position: fixed;
}

.menu:not(.active) .bar:nth-child(3), .menu:not(.active) .bar:nth-child(1) {
    transform-origin: left;
    transform: rotate(0deg);
    width: 60px; 
}

.menu:not(.active) .bar:nth-child(2) {
    opacity: 1; 
    width: 60px; 
}

aside {
    background:#002442a7;
    position: fixed;  
    top: -100px;
    width: 100vw;
    height: 88px;
    transition: top 0.4s ease-in-out; 
    z-index: 3;
    font-size: 1.2em;
}

aside.active {
    top: 0;
    z-index: 3;
    background:#002442a7;
    position: fixed;
    z-index: 3;
}

.nav {
    line-height: 90px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    color: #ffffff;
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.7em;
    font-weight: 500;
}

.nav a {
    width: 150px;
    display: flex;
    align-items: center;
}

.nav a:hover{
    text-decoration: underline;
}

.wiki {
    justify-content: end;
}

.git {
    justify-content: start;
}

main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aImg {
    width: 300px;
    height: auto;
    margin-top: 165px;
    z-index: 2;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #ffa600, -2px -2px 10px #ffa600;
}

.aImg img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    border: 1px solid #1d415f;
}

.aText {
    margin-top: 200px;
    width: 100%;
    color: #dfdede;
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.9em;
    font-weight: 500;
    border: 1px solid #ffa600;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #ffa600, -2px -2px 10px #ffa600;
    background:#08243e9e;
    text-align: center;
    line-height: 2em;
    letter-spacing: 0.1rem;
}

.aText h2, .leftSide h2 {
    margin-top: 30px;
    font-family: Maximus, Georgia, 'Times New Roman', Times, sans-serif;
}

.aText h3, .leftSide h3 {
    margin: 40px;
}

.aText h4, .leftSide h4 {
    margin: 0 40px;
}

.ending {
    margin: 50px auto;
    font-weight: 400;
    font-size: 1.8em;
    color: #e6e6e6;
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #dfdede;
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.9em;
    font-weight: 500;
    text-align: center;
    background:#08243e9e;
    border: 1px solid #ffa600;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #ffa600, -2px -2px 10px #ffa600;
    margin-top: 200px;
    line-height: 2em;
    letter-spacing: 2px;
}

.works, .rightSide {
    margin-top: 200px;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
}

.works > h2, .rightSide > h2 {
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2em;
    letter-spacing: 2px;
    color: #dfdede;
    font-family: Maximus, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.9em;
    font-weight: 500;
}

.gallery {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.CSS, .HTML, .Adobe, .Linux {
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.CSS img, .JS img, .HTML img, .Adobe img, .Linux img {
    position: relative;
    width: 190px;
    height: auto;
    border: 1px solid #ffd500;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #ffa600, -2px -2px 10px #ffa600;
}

.CSS a, .HTML a, .Adobe a, .Linux a {
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-weight: 500;
    font-size: 1.1em;
    position: absolute; 
    margin-bottom: 15px;
    color: #ffffffb9;
}

.CSS a:hover, .HTML a:hover, .Adobe a:hover, .Linux a:hover {
    text-decoration: underline;
   color: #fff;
}

a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3em;
    color: #fff
}

.border {
    width: 50%;
    margin: 0 auto;
    margin-top: 90px;
    border: 1px solid #ffa600;
    border-radius: 12px;
    box-shadow: 2px 2px 15px #ffa600, -2px -2px 15px #ffa600;
}

footer {
    width: 20vw;
    text-align: center;
    margin: 10px auto;
    font-size: 1.3em;
    padding: 30px;
}

footer a {
    color: #ffffff;
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.3em;
    width: fit-content;
    margin: 0 auto;
}

footer a:hover {
    text-decoration: underline;
}