
@font-face {
    font-family: Header;
    src: url(../Assets/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: max;
    src: url(../Assets/Gontserrat-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    display: block;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    background: hsl(0, 1%, 77%);
    color: #1f1e1e;
}

header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: -1000;
    background-image: url(../Assets/backBW.png);
    background-size: cover;
    background-position: center;
}

aside a{
    text-decoration: none;
    color: hsl(0, 1%, 77%);;
}
nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 100%);
    width: 100vw;
    border-bottom: 1px solid hsla(0, 2%, 76%, 0.796);
}

.Active {
    text-decoration: underline;
}

.left, .right {
    width: calc(50% - 151px);
    height: 3.1rem;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 1.3em;
    box-shadow: 0 -30px 45px -5px hsl(0, 13%, 71%);
    background-image: linear-gradient(hsl(0, 0%, 13%), hsl(240, 1%, 20%) 8%, hsl(180, 1%, 30%) 27%,  hsl(0, 1%, 77%) 72%);
}

.left h4, .right h4 {
    cursor: pointer;
    color: #dfdede;
    font-family: max, Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 1.2em;
}

.left h4:hover, .right h4:hover{
    color:rgb(56, 56, 56) ;
}

.menu {
    position: fixed;
    top: 8px;
    right: 8px;
    float: right;
    display: flex;
    flex-direction: column;
    z-index: 4;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, margin-top 0.4s ease-in-out, width 0.4s ease-in-out ;
}

.bar {
    width: 40px;
    height: 2px;
    margin: 6px;
    background: #fff;
    border-radius: 1000px;
    content: "";
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out, opacity 0.4s ease-in-out, width 0.4s ease-in-out;
}

.menu.active .bar:nth-child(1) {
    transform-origin: right;
    transform: rotate(-45deg);
    width: calc(40px * 1.41421356237 - 17px);
    background-color: #fff;
}

.menu.active .bar:nth-child(2) {
    opacity: 0;
    width: 0;
}

.menu.active .bar:nth-child(3) {
    transform-origin: right;
    transform: rotate(45deg);
    width: calc(40px * 1.41421356237 - 17px);
    background-color: #fff;
}

.menu:not(.active) .bar:nth-child(3), .menu:not(.active) .bar:nth-child(1) {
    transform-origin: right;
    transform: rotate(0deg);
    width: 40px; 
}

.menu:not(.active) .bar:nth-child(2) {
    opacity: 1; 
    width: 40px; 
}

aside {
    position: fixed;  
    right: -100vw;
    width: 100vw;
    height: 88px;
    transition: right 0.6s ease-in-out; 
    z-index: 3;
}

aside.active {
    right: 0;
    position: fixed;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    width: fit-content;
    float: right;
    padding-top: 0.8rem;
    margin-right: 80px;
}

.nav a {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.nav img{
    width: 2rem;
}

nav h4:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 3px hsl(0, 0%, 100%), -2px -2px 3px hsl(0, 0%, 100%);
}

main {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aImg {
    width: 300px;
    height: auto;
    margin-top: 3rem;
    z-index: 4;
    border: 1px solid #b7b5b1;
    border-radius: 4px;
    box-shadow: 5px 15px 10px #b7b5b1, -5px -5px 10px #b7b5b1;
}

.aImg img {
    width: 300px;
    height: auto;
    border-radius: 4px;
}

h2{
    font-family:Header, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

h3{
    font-family:Header, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 3rem;
}

h4{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: max, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.9rem;
}

.border{
    margin: 0 auto;
    margin-top: 3rem;
    height: 2px;
    background: #1f1e1e;
    width: 60%;
}

footer{
    width: 40%;
    margin: 2rem auto;  
}

footer h3{
    font-family: max, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 1rem;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.category {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
}

.category h3 {
    font-size: 1.5rem;
    height: 2rem;
    color: #333;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

.category img {
    width: 4rem;
    height: auto;
    margin: 10px;
    transition: transform 0.3s ease;
}

.category img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.works {
    padding: 0;
    margin: 0;
}

.gallery-works{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.work{
    margin: 2rem;
}

.work a{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    width: fit-content;
    text-decoration: none;
}

a img {
    width: 20vw;
    max-width: 170px;
    margin: 0 auto;
}

 a > h2{
    margin: 0 auto;
    color: #1f1e1e;
    font-size: 1.3rem;
    font-family: max, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a > h2:hover{
    color: #0b0b0b;
    text-decoration: underline;
}
 
@media (max-width: 768px) {
    .category {
        width: 90%;
    }

    .gallery {
        gap: 15px;
    }
    .aImg {
        width: fit-content;
        margin-top: 3.3rem;
    }

    .aImg img{
        width: 40vw;
        max-width: 170px;
    }

    .nav{
        float: left;
        padding-top: 8px;
        margin-right: 0;
    }

    nav{
        flex-flow: column nowrap;
        justify-content: space-evenly;
        height: auto;
    }

    .left, .right{
        width: 100vw;
        font-size: 1rem;
        padding: 0;
    }

    .right{
        box-shadow: none;
        justify-content: center;
    }

    .left{
        /* background-image: linear-gradient(hsl(0, 0%, 13%), hsl(240, 1%, 20%) 8%, hsl(180, 1%, 30%) 27%,  hsl(0, 1%, 77%) 72%); */
        height: auto;
        justify-content: space-between;
        background-image: linear-gradient(hsl(0, 1%, 77%), hsl(180, 1%, 30%) 8%, hsl(240, 1%, 20%) 27%,  hsl(0, 0%, 13%)72%);
    }

    .left h4, .right h4  {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        width: auto;
    }

    aside { 
        left: -100vw;
        transition: left 0.6s ease-in-out; 
    }
    
    aside.active {
        left: 0;
    }
}
